mixin header-menu(data)
    +b.header-menu()&attributes(attributes)
        block
        div.wrapper
            +e.item О компании
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы
            +e.item Аренда залов
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы
            +e.item Фотосессии
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы
            +e.item Правила
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы
            +e.item Портфолио
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы
            +e.item Контакты
                +e.item-menu
                    +e.A.menu-point(href=jv0) Наша фотостудия
                    +e.A.menu-point(href=jv0) Отзывы
                    +e.A.menu-point(href=jv0) Частые вопросы